.hero-character{
width: 32%;
transform: translate(-40px , -40px);

}
.affirmative-text{
    font-size: 12px;
}
.quotes-hero{
    width: 6%;
}
.hero-globe{
    width: 80%;
}
.hero-star{
    width: 10%;
}
.small-gear{
   width: 65%;
}
.gears{
    transform: translate(30px, -30px);
}
.big-gear{
   width: 80%;
}
.paragraph-text-quality{
    margin-bottom: 0;
    font-size: 22px;
    line-height:20px;
}
.paragraph-text-experience{
    font-size: 10px;
    margin-right: 32px;
}
.star_texts{

    transform: translate(-15px,25px);
}