.hero-character {
    width: 32%;
    transform: translate(-40px, -40px);

}

.affirmative-text {
    font-size: 12px;
}

.hero-globe {
    width: 80%;
}

.hero-star {
    width: 10%;
}

.small-gear {
    width: 50%;
}

.gears {
    transform: translate(30px, -30px);
}

.big-gear {
    width: 70%;
}
.position-arrow-left{
    left: 12%;   
    top: 57%;
}
.position-arrow-right {
right: 9%;   
    top: 43%;
}
.paragraph-text-quality {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 20px;
}

.paragraph-text-experience {
    font-size: 10px;
    margin-right: 32px;
}

.bg-svg-element {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}
.svg-star-large {
    top: 5%;
    left: 2%;
}

.svg-star-small {
    bottom: 0%;
    right: 0%;
}
.svg-star-three{

}
.svg-star-two{

}
.svg-gear-large {
    bottom: 2%;
    left: 0%;
}
.svg-gear-small {
    top: 5%;
    right: 0%;
}
.svg-gear-blue {
    top: 2%;
    left: 45%;
}
@media (min-width: 768px) {
    .gears {
        transform: translate(18px, -36px);
    }

    .hero-character {
        width: 32%;
        transform: translate(-24px, 32px);

    }

    .big-gear {
        width: 58%;
    }

    .small-gear {
        width: 40%;
    }
    .position-arrow-left{
    left: 12%;   
    top: 57%;
}
.position-arrow-right {
right: 9%;   
    top: 43%;
}
}


@media (min-width: 992px) {
    .gears {
        transform: translate(75px, -40px);
    }
   .hero-character {
        width: 32%;
        transform: translate(-48px, 48px);

    }
    .big-gear {
        width: 85%;
    }

    .small-gear {
        width:60%;
    }
    .position-arrow-left{
    left: 12%;   
    top: 57%;
}
.position-arrow-right {
right: 9%;   
    top: 43%;
}

}