.btn{
    background-color:  rgba(13, 79, 186, 1);
    padding: 8px 16px;
    border-radius: 10px;
    flex: 0 0 auto;
    min-width: max-content;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgba(59, 116, 191, 1);
  cursor: pointer;
}

.input-send-message{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    outline: none;
    flex: 1 1 auto;
    min-width: 0;
}

.input-send-message::placeholder {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.7;
}

.contact-form-wrapper {
  width: 100%;
}

@media (max-width: 767px) {
  .contact-form-wrapper {
    flex-direction: column;
  }

  .input-send-message {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}