.avatar-wrapper {
  padding: 3px;
  border-radius: 50%;
background: linear-gradient(
    to bottom,
    rgb(24, 24, 24) 10%,
    rgb(83, 82, 82) 40%,
    rgba(255, 130, 51, 1) 80%
  );
  display: inline-flex;
   width: 80px;
  height: 80px;
 
}
.avatar-inner {
background: #121212;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.avatar-inner img {
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
