.avatar-wrapper {
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(to bottom,
      rgb(24, 24, 24) 10%,
      rgb(119, 118, 118) 40%,
      rgb(59 , 116, 191) 50%);
  display: inline-flex;
  width: clamp(60px, 15vw, 100px);
  height: clamp(60px, 15vw, 100px);

}

.avatar-inner {
  background: #121212;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatar-inner img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qualification-section-width {
  width: clamp(50%, 60%, 80%);
}

@keyframes fillBar {
  from {
    width: 0;
  }

  to {
    width: var(--target, 100%);
  }
}

.line-track {
  width: 100%;
  height: 5px;
  border-radius: 999px;
  background-color: white;
  position: relative;
  margin-bottom: 4px;
}

.line {
  height: 5px;
  border-radius: 999px;
  background-color: rgba(13, 79, 166, 1);
  position: absolute;
  width: 0;
  animation: fillBar 2s ease-out forwards;
  animation-fill-mode: both;
}

.line-sm {
  --target: 88%;
}

.line-md {
  --target: 90%;
}

.line-lg {
  --target: 92%;
}

.line-full {
  --target: 94%;
}

.line::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid rgba(13, 79, 166, 1);
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}