
body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(30, 30, 30, 1);
     max-width: 1440px;
     margin: 0 auto;
}

.color-blue-text{
color: rgba(59, 116, 191, 1);
}
/* Fonts */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.urbanist-semibold {
    font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.urbanist-bold{
    font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.text-formatting{
  
  line-height: 1.3;

}
.text-paragraph-size{
  font-size: 12px;
}
/* Fonts */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.initial-state {
  opacity: 0;
}
.animate-item {

  animation: fadeInUp 1.8s ease-out forwards;
}
.padding_lg{
  padding: 0 4em;
}